<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Manuale" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
  </head>
  <body>
    <header role="banner">
      <!-- Navigation bar -->
      <nav class="navbar navbar-dark">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="brand-centered">
          <a class="navbar-brand" href="#"><img style="margin-right: 10px; padding: 0;" src="https://media.contentapi.ea.com/content/dam/eacom/en-us/common/nav-en.png" width="200" alt="Logo Thing main logo">
          </a>
          </div>

          <div id="mainnav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Link</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav><!-- Navigation bar end -->
    </header><!-- header role="banner" -->

    <!-- Content -->
    <div class="hero"></div>
    <!--Ranking Table-->
    <section id="rtable" class="bg-blue">
      <div class="overlay">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <!--Background Image or just an image-->
              <img src="https://img.youtube.com/vi/sySGT0qb9PU/0.jpg" class="img-responsive">
            </div>
            <div class="col-md-6">
              <h2>Ahnald's Ranking Table</h2>
              <p>Bacon ipsum dolor amet sint ham hock pork loin pork belly, pancetta in shoulder t-bone officia ad in.
                Nisi ut exercitation consequat. Consectetur velit pork loin bacon ad shoulder. Meatloaf shankle mollit tail ut nisi ex short ribs ad.
                Est capicola corned beef tenderloin, alcatra dolore tempor adipisicing doner.
                Porchetta ground round beef ribs nostrud id meatloaf short loin leberkas corned beef. Ham sint tail aute sed.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Guides-->
    <section id="guides" class="bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <h2>Comprehensive Guides to Raids, Squad Arena, and More..</h2>
            <p>Brisket in chuck dolore, pork ea reprehenderit. Ut velit anim tail dolore t-bone eu cillum ad est.
              Short loin kielbasa ut turkey alcatra officia, pork belly nostrud ut quis spare ribs shoulder in sausage andouille.
              Cupidatat strip steak qui, consectetur id biltong ad sed velit short ribs commodo.
              Sunt jerky brisket, ipsum drumstick corned beef meatball lorem.
              Capicola nulla et filet mignon, tri-tip commodo pig cillum corned beef proident strip steak turducken spare ribs ut.
              Nulla reprehenderit meatloaf tongue nostrud prosciutto chicken eu dolore tri-tip flank ad brisket.</p>
          </div>
          <div class="col-md-6">
            <!--Background Image or just an image-->
            <img src="https://i.imgur.com/S2m1Lkl.jpg" class="img-responsive">
          </div>
        </div>
      </div>
    </section>
    <!--Gameplay-->
    <section id="gp" class="bg-dark">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="iframe-container iframe-container-for-wxh-500x350" style="-webkit-overflow-scrolling: touch; overflow: auto;">
              <iframe src="https://www.youtube.com/embed/rhvwB7D8KZs" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-md-6">
            <h2>Gameplay Videos From Top Players</h2>
            <p>Brisket in chuck dolore, pork ea reprehenderit. Ut velit anim tail dolore t-bone eu cillum ad est.
              Short loin kielbasa ut turkey alcatra officia, pork belly nostrud ut quis spare ribs shoulder in sausage andouille.
              Cupidatat strip steak qui, consectetur id biltong ad sed velit short ribs commodo.
              Sunt jerky brisket, ipsum drumstick corned beef meatball lorem.
              Capicola nulla et filet mignon, tri-tip commodo pig cillum corned beef proident strip steak turducken spare ribs ut.
              Nulla reprehenderit meatloaf tongue nostrud prosciutto chicken eu dolore tri-tip flank ad brisket.</p>
          </div>
        </div>
      </div>
    </section>
    <!--Tubers-->
    <section id="yubers" class="bg-alt">
      <div class="overlay">
        <div class="container-fluid">
          <div class="row">
            <!--loop through all youtubers and yeild this-->
            <div class="col-md-2 col-xs-6 col-sm-6">
              <div class="tuber">
                <!--images should be 100x100-->
                <img src="https://yt3.ggpht.com/-uvd6yrPnjoA/AAAAAAAAAAI/AAAAAAAAAAA/BSwdTrHPcIQ/s100-c-k-no-mo-rj-c0xffffff/photo.jpg" class="img-responsive img-circle">
                <a href="#"><h4>Tuber Name</h4></a>
              </div>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-6">
              <div class="tuber">
                <img src="https://yt3.ggpht.com/-uvd6yrPnjoA/AAAAAAAAAAI/AAAAAAAAAAA/BSwdTrHPcIQ/s100-c-k-no-mo-rj-c0xffffff/photo.jpg" class="img-responsive img-circle">
                <a href="#"><h4>Tuber Name</h4></a>
              </div>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-6">
              <div class="tuber">
                <img src="https://yt3.ggpht.com/-uvd6yrPnjoA/AAAAAAAAAAI/AAAAAAAAAAA/BSwdTrHPcIQ/s100-c-k-no-mo-rj-c0xffffff/photo.jpg" class="img-responsive img-circle">
                <a href="#"><h4>Tuber Name</h4></a>
              </div>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-6">
              <div class="tuber">
                <img src="https://yt3.ggpht.com/-uvd6yrPnjoA/AAAAAAAAAAI/AAAAAAAAAAA/BSwdTrHPcIQ/s100-c-k-no-mo-rj-c0xffffff/photo.jpg" class="img-responsive img-circle">
                <a href="#"><h4>Tuber Name</h4></a>
              </div>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-6">
              <div class="tuber">
                <img src="https://yt3.ggpht.com/-uvd6yrPnjoA/AAAAAAAAAAI/AAAAAAAAAAA/BSwdTrHPcIQ/s100-c-k-no-mo-rj-c0xffffff/photo.jpg" class="img-responsive img-circle">
                <a href="#"><h4>Tuber Name</h4></a>
              </div>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-6">
              <div class="tuber">
                <img src="https://yt3.ggpht.com/-uvd6yrPnjoA/AAAAAAAAAAI/AAAAAAAAAAA/BSwdTrHPcIQ/s100-c-k-no-mo-rj-c0xffffff/photo.jpg" class="img-responsive img-circle">
                <a href="#"><h4>Tuber Name</h4></a>
              </div>
            </div>
            <!--end loop-->
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <ul class="footer-links">
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="footer-links">
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="footer-links">
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="footer-links">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms and Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
